*{
    background-color: none;
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
}

header, main, footer, nav, section, aside{
    display: block;
    font-family: 'Mulish', sans-serif;
} 

header{
    width: 100%;
}


.logo {
    background-image: url("../images/logo.png");
    background-color: #082041;
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 100px;
    height: 41px;
    width: 41px;
    margin-left: 25px;
    margin-top: 25px;
    display: block; 
}

.logoSpan{
    display: inline-block;
    color: #233348;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    width: 107px;
    height: 30px;
    margin-top: 7px;
    margin-left: 78px;
    line-height: 30.12px;
}

.selected{
    width: 51px;
    height: 23px;
    margin-top: 96px;
    font-style: normal;
    line-height: 22.59px;
    color: #1F1534;
    font-weight: 700;
    font-size: 18px;
    opacity: 100%;
}
nav{
    margin-left: 25px;
    margin-top: 35px;
}


nav a{
    display:inline;
    width: 109px;
    height: 23px;
    
    margin-left: 40px;
    opacity: 50%;
    font-weight: 400px;
    font-style: normal;
    font-size: 18px;
    line-height: 22.59px;
    color: #1F1534;
}


h1{
    width: 345px;
    height: 53px;
    margin-top: 83px;
    margin-left: 50px;
    font-weight: 700;
    font-size: 42px;
    line-height: 52.71px;
}


.firstImg{
    width: 550.46px;
    height: 475px;
    margin-top: 14px;
    margin-left: 25px;
}

.sectionOne{
    margin-top: 63px;
    margin-left: 25px;
    color: #000000;
}
.sectionOne h2{
    width: 844px;
    height: 56px;
    font-weight: 700;
    font-size: 36px;
    line-height: 56px;
}

.sectionOne p{
    width: 693px;
    height: 96px;
    margin-top: 20px;
    font-weight: 300;
    font-size: 21px;
    line-height: 32px;
    color: #7D7987;
    font-style:light;
    opacity: 100%;

}

.sectionOne a{
    margin-top: 20px;
    width: 119px;
    height: 60px;
    font-size: 18px;
    line-height: 60px;
    font-weight: 700;
    color: #FFFFFF;
    line-height: 60px;
    line-height: 266%;  
    opacity: 100%;
    text-align: center;
    position: absolute;
    border-radius: 55px;
    background-color: #458FF6;
    padding-left: 40px;
    padding-right: 41px;   
}


.sectionTwo h2{
    width: 212px;
    height: 56px;
    margin-top: 160px;
    margin-left: 25px;
    font-weight: 700;
    font-size: 36px;
    line-height: 56px;
    line-height: 124%;
    color: #000000;
}

.sectionTwo section{
    background: #000000;
    border-radius: 5px;
    Width: 56px;
    Height: 2px;
    margin-left: 103px;
    margin-top: 14px;
}

.sectionTwo p{
    width: 693px;
    height: 96px;
    margin-top: 14px;
    margin-left: 25px;
    font-weight: 300;
    font-size: 21px;
    line-height: 32px;
    color: #7D7987;
    font-style:light;
    opacity: 100%;
}


.cards {
    box-shadow: 10px 40px 50px rgba(229, 233, 246, 0.4); 
    border-radius: 20px;
    display: inline-block;
    margin-top: 100px;
    margin-left: 25px;
    width: 350px;
    height: 354px;
    color: #000000;
    background-color: #FFFFFF;
}

.cards img{
    margin-top: 22.4px;
    margin-left: 39px;
    width: 91.88px;
    height: 90.01px;
    background-color: #FFFFFF;
}

.cards h3{
    background-color: #FFFFFF;
    margin-top: 25px;
    margin-left: 39px;
    Width: 130px;
    Height: 56px;
    font-weight: 700;
    font-size: 24px;
    line-height: 56px;
}

.cards p{
    color: #7D7987;
    background-color: #FFFFFF;
    margin-left: 39px;
    Width: 261px;
    Height: 84px;
    font-weight: 300;   
    font-size: 16px;
    line-height: 28px;
}

.learnMore{
    height: 425px;
}

.learnMore a{

    text-align: center;
    position: absolute;
    border-radius: 55px;
    border: 1.4px solid #458FF6;
    color: #458FF6;
    margin-left: 25px;
    margin-top: 70px;
    width: 200px;
    height: 56px;
    font-size: 18px;
    line-height: 60px;
    font-weight: 700;
    line-height: 60px;
    opacity: 100%;
}


footer {
    display:inline-block;
    background: linear-gradient(208.18deg, #67C3F3 9.05%, #5A98F2 76.74%);
    Width: 1599.02px;
    height: 425px;
    margin-left: 0.99px;
    color: #FFFFFF;

}


.footerNav  {
    margin-left: 25px;
    margin-top: 50px;
}

.footerNav a{
    height: 59.03px;
    color: #FFFFFF;
    margin-left: 41px;
    opacity: 100%;
    font-weight: 700;
    font-size: 20px;
    line-height: 60px;
}

.footerLogo{

    margin-top: 68px;
    margin-left: 35px;
}


.footerLogo a{
    background-image: url("../images/logo.png");
    background-color: #082041;
    /* background-image: url(".../images/logo.png"); */
    background-color: black;
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 100px;
    display: block; 
    width: 40.97px;
    height: 40.34px;
    opacity: 100%;
} 

.footerLogo span{
    
   
    display: inline-block;
    font-weight: 700;
    font-size: 24px;
    line-height: 30.12px;
    width: 106.93px;
    height: 29.51px;
    margin-left: 52.96px;
    margin-top: 7px;
    color: #FFFFFF;
}

.footerLogo p{
    color: #FFFFFF;
    width: 390.76px;
    height: 27.55px;
    margin-top:134.78px;
    font-weight: 300;
    font-size: 16px;
    line-height: 28px;
}

.review {
    margin-top: 20px;
    margin-left: 25px;
    width: 1120px;
    height: 470px;
    color: #FFFFFFE5;
    background: linear-gradient(208.18deg, #67C3F3 9.05%, #5A98F2 76.74%);

    border-radius: 24px;

}

.review h2{
    margin-top: 25px;
    margin-left: 25px;
    width: 522px;
    height: 48px;
    font-weight: 700;
    font-size: 36px;
    line-height: 48px;
}

.review section{
    background: #FFFFFF;
    border-radius: 6px;
    Width: 56px;
    Height: 2px;
    margin-left: 246px;
    margin-top: 10px;
}


.review h3{
    margin-top: 151px;
    margin-left: 20px;
    width: 183px;
    height: 48px;
    font-weight: 700;
    font-size: 22px;
    line-height: 48px;

}

.parag{
    margin-top: 22px;
    margin-left: 25px;
    width: 420px;
    height: 120px;
    font-weight: 400;
    font-size: 19px;
    line-height: 30px;

}
.review img{
    margin: auto;
    border: 4px solid #FFFFFF;
    background-color: #FFFFFF;
    border-radius: 100px;
    padding: 0px;
    position:absolute;
    width: 141px;
    height: 141px;
    margin-top: 5px;
    margin-left: 20px;
}

.customer{
    width: 119px;
    height: 48px;
    margin-bottom: 10000px;
    margin-left: 20px;
    line-height: 48px;
    font-weight: 400;
    font-size: 18px;
}

.collections{
    margin-top: 70px;
    margin-left: 25px;
    color: #000000;



}
.collections h2{
    
    Width:462px;
    Height:56px;
    font-weight: 700;
    font-size: 36px;
    line-height: 56px;
}

.trends{
    
    display: inline-block;
    Width: 350px;
    Height: 512px;

}

.trends img{
   border-top-left-radius: 20px;
   border-top-right-radius: 20px;
   margin-top: 59px;
   height: 246px;

}

.trends h3{
    Width: 251px;
    Height: 64px;
    margin-top: 21px;
    margin-left: 33px;
    font-weight: 700;
    font-size: 21px;
    line-height: 32px;
}

.trends p{
    width: 266px;
    height: 84px;
    margin-top: 12px;
    margin-left: 33px;
    font-weight: 300;
    font-size: 16px;
    line-height: 28px;
    color: #7D7987;
}

.trends a{
    color: #4089ED;
    width: 266px;
    height: 28px;
    margin-left: 33px;
    margin-top: 25px;
    font-weight: 600;
    font-size: 17px;
    line-height: 28px;
}

.trends section{
    border: solid #4089ED;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px; 
    color: #4089ED;;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}